[Service]
EnvironmentFile=-/etc/default/docker
EnvironmentFile=-/etc/default/docker-storage
ExecStart=
ExecStart=/usr/bin/<%= @docker_command %> <%= @daemon_subcommand %> $DOCKER_OPTS \
        $DOCKER_STORAGE_OPTIONS
