# deb cdrom:[Ubuntu-Server 17.04 _<%= @ubuntutag %> Zapus_ - Release amd64 (20170412)]/ <%= @ubuntutag %> main restricted

# See http://help.ubuntu.com/community/UpgradeNotes for how to upgrade to
# newer versions of the distribution.
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %> main restricted
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %> main restricted

## Major bug fix updates produced after the final release of the
## distribution.
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-updates main restricted
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-updates main restricted

## N.B. software from this repository is ENTIRELY UNSUPPORTED by the Ubuntu
## team. Also, please note that software in universe WILL NOT receive any
## review or updates from the Ubuntu security team.
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %> universe
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %> universe
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-updates universe
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-updates universe

## N.B. software from this repository is ENTIRELY UNSUPPORTED by the Ubuntu 
## team, and may not be under a free licence. Please satisfy yourself as to 
## your rights to use the software. Also, please note that software in 
## multiverse WILL NOT receive any review or updates from the Ubuntu
## security team.
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %> multiverse
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %> multiverse
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-updates multiverse
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-updates multiverse

## N.B. software from this repository may not have been tested as
## extensively as that contained in the main release, although it includes
## newer versions of some applications which may provide useful features.
## Also, please note that software in backports WILL NOT receive any review
## or updates from the Ubuntu security team.
deb [arch=amd64] http://archive.ubuntu.com/ubuntu/ <%= @ubuntutag %>-backports main restricted universe multiverse
# deb-src http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-backports main restricted universe multiverse

## Uncomment the following two lines to add software from Canonical's
## 'partner' repository.
## This software is not part of Ubuntu, but is offered by Canonical and the
## respective vendors as a service to Ubuntu users.
# deb http://archive.canonical.com/ubuntu <%= @ubuntutag %> partner
# deb-src http://archive.canonical.com/ubuntu <%= @ubuntutag %> partner

deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-security main restricted
# deb-src http://security.ubuntu.com/ubuntu <%= @ubuntutag %>-security main restricted
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu/ <%= @ubuntutag %>-security universe
# deb-src http://security.ubuntu.com/ubuntu <%= @ubuntutag %>-security universe
deb [arch=amd64] http://<%= @puppetmaster %>/ubuntu <%= @ubuntutag %>-security multiverse
# deb-src https://apt.dockerproject.org/repo ubuntu-<%= @ubuntutag %> main
deb [arch=amd64] https://download.docker.com/linux/ubuntu <%= @ubuntutag %> edge
# deb-src [arch=amd64] https://download.docker.com/linux/ubuntu <%= @ubuntutag %> stable
# deb-src http://security.ubuntu.com/ubuntu <%= @ubuntutag %>-security multiverse
