# This file is managed by Puppet and local changes
# may be overwritten

DOCKER_OPTS="<% if @root_dir %> -g <%= @root_dir %><% end -%>
<% if @tcp_bind %><% @tcp_bind_array.each do |param| %> -H <%= param %><% end %> <% end -%>
<% if @tls_enable %> --tls<% if @tls_verify -%> --tlsverify<% end -%> --tlscacert=<%= @tls_cacert %> --tlscert=<%= @tls_cert %> --tlskey=<%= @tls_key %><% end -%>
<% if @socket_bind %> -H <%= @socket_bind %><% end -%>
 --ip-forward=<%= @ip_forward -%>
 --iptables=<%= @iptables -%>
 --ip-masq=<%= @ip_masq -%>
<% unless @icc == nil %> --icc=<%= @icc %><% end -%>
<% if @fixed_cidr %> --fixed-cidr <%= @fixed_cidr %><% end -%>
<% if @default_gateway %> --default-gateway <%= @default_gateway %><% end -%>
<% if @bridge %> --bridge <%= @bridge %><% end -%>
<% if @log_level %> -l <%= @log_level %><% end -%>
<% if @log_driver %> --log-driver <%= @log_driver %><% end -%>
<% if @log_driver %><% if @log_opt %><% @log_opt.each do |param| %> --log-opt <%= param %><% end %><% end -%><% end -%>
<% if @selinux_enabled %> --selinux-enabled=<%= @selinux_enabled %><% end -%>
<% if @socket_group %> -G <%= @socket_group %><% end -%>
<% if @dns %><% @dns_array.each do |address| %> --dns <%= address %><% end %><% end -%>
<% if @dns_search %><% @dns_search_array.each do |domain| %> --dns-search <%= domain %><% end %><% end -%>
<% if @execdriver %> -e <%= @execdriver %> <% end -%>
<% if @bip %> --bip=<%= @bip %> <% end -%>
<% if @mtu %> --mtu=<%= @mtu %> <% end -%>
<% @labels.each do |label| %> --label <%= label %><% end -%>
<% if @extra_parameters %><% @extra_parameters_array.each do |param| %> <%= param %><% end %><% end -%>"

<% if @proxy %>http_proxy='<%= @proxy %>'
  https_proxy='<%= @proxy %>'<% end %>
<% if @no_proxy %>no_proxy='<%= @no_proxy %>'<% end %>
# This is also a handy place to tweak where Docker's temporary files go.
# TMPDIR="<%= @tmp_dir %>"
<% if @shell_values %><% @shell_values_array.each do |param| %> <%= param %><% end %><% end -%>
