FROM <%= @imagename %>
ENV LANG en_US.UTF-8
RUN apt-get update
RUN apt-get install wget -y
RUN wget https://apt.puppetlabs.com/puppetlabs-release-pc1-xenial.deb -O puppetlabs-release-pc1-xenial.deb
RUN dpkg -i puppetlabs-release-pc1-xenial.deb
RUN apt-get update
RUN apt-get install -y puppet-agent iputils-ping telnet
RUN rm -rf puppetlabs-release-pc1-xenial.deb
CMD /bin/sh -c "while true; do echo Running; sleep 1;clear; done"
